/* header
font-family: 'Antic Slab', serif;
font-family: 'Sacramento', cursive;
*/

nav {
    background-image: url("header.jpg");
    color: #40325B;
    height: 150px;
    text-align: center;
    padding: 50px 0px;
}

h1 {
    position: block;
    padding: 20px 25px;
    font-size: 50px;
    font-family: 'Send Flowers', cursive;
}

.nav {

    display: inline;
    padding: 14px 16px;
    margin: 10px 0px;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Antic Slab', serif;
}

body {
    background-color: #f3c4a3;
}


.home-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    width: 71%;
    height: 71%;
    text-align: center;
    border-radius: 5%;
    margin-top: 80px;
    border: #ffffff solid 10px;
}

/* header */

/* About Me */

.peach {
    position: absolute;
    bottom: -440px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.peach svg {
    position: relative;
    display: block;
    width: calc(124% + 1.3px);
    height: 174px;
}

.peach .shape-fill {
    fill: #F5B59E;
}

.About {
    margin: 0px;
    display: flex;
    width: 100%;
    height: 600px;
    background-color: #F5B59E;
    color: #40325B;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.About-box {

    padding: 5% 15%;
    padding-bottom: 150px;
}

.Portrait {
    margin: 6%;
    float: left;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: .5em aliceblue solid;
    box-shadow: #e085b5 10px 10px 5px;
}

h2,
.bio {
    display: flex;
    position: relative;
    top: 250px;


}

h2 {
    font-family: 'Send Flowers', cursive;
    font-size: 50px;

}

.bio {
    font-size: 1.5em;
    font-family: 'Antic Slab', serif;
    max-height: 250px;
    overflow: auto;


}

/* About Me */

/* My Work */

.pinkish {
    position: absolute;
    bottom: -1100px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.pinkish svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 181px;
    transform: rotateY(180deg);
}

.pinkish .shape-fill {
    fill: #DB7F8B;
}

h3 {
    font-family: 'Send Flowers', cursive;
    text-align: center;
    display: block;
    font-size: 50px;
    justify-content: center;
    background-color: #DB7F8B;
    padding: 75px;
    color: #40325B;

}


.Work {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: #DB7F8B;
    padding: 2%;
}

.big-card {
    text-align: center;
    background-color: #DB7F8B;
    color: #ffffff;
    font-size: 20px;
}

.big-img {
    margin: 30px;
    width: 800px;
    height: 500px;
    border: white solid 10px;
    border-radius: 5%;
    box-shadow: 10px 10px 5px #B26A80;
}

.big-text {

    padding: 20px;
    font-family: 'Antic Slab', serif;
}


.card-img {
    width: 500px;
    height: 500px;
    border-radius: 5%;
}

.card {
    flex: 0 1 auto;
    border: 1px salmon solid;
    background-color: #ffffff;
    margin: 2%;
    border-radius: 5%;
    box-shadow: 10px 10px 5px rgb(130, 82, 106);
    font-family: 'Antic Slab', serif;
    padding: 15px;
    color: #40325B;
    margin-bottom: 200px;
}

/* My Work */

/* Contact */
.purple {
    position: absolute;
    bottom: -2800px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.purple svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 231px;
    transform: rotateY(180deg);
}

.purple .shape-fill {
    fill: #B26A80;
}

h4 {
    font-family: 'Send Flowers', cursive;
    color: white;
    text-align: center;
    margin: 4%;
    display: block;
    font-size: 50px;
    justify-content: center;
}

form {
    padding: 100px;
    text-align: center;
    background-color: #B26A80;
}

input {
    height: 40px;
    font-size: 15px;
    margin: 5px;
    padding: 0px 10px 0px 10px;
    color: #40325B;
    font-family: 'Antic Slab', serif;

}

header {
    font-size: 25px;
}

.email {
    width: 400px;
}

.message {
    width: 400px;
    height: 400px;
}

.name {
    display: inline;
}

,
form-grid {}

/* Contact */
/* Footer */
footer {
    text-align: center;
    padding: 40px;
    font-family: 'Antic Slab', serif;
    color: #F7D3B4;
    background-color: #40325B;
}

/* Footer */